footer.mt-auto.py-4.text-light(style="background-color:#4e342e;")
  .container-fluid.px-5.d-flex.justify-content-between.align-items-center.flex-column.flex-md-row.gap-3
    .text-start
      p.mb-2
        iconify-icon(icon="mynaui:telephone")
        span.ms-2 Phone:
        a.link-underline.link-offset-3.link-underline-opacity-0.link-underline-opacity-75-hover.ms-1(
          href="tel:+84123456789"
        ) +84 123 456 789

      p.m-0
        iconify-icon(icon="mynaui:envelope")
        span.ms-2 Email:
        a.link-underline.link-offset-3.link-underline-opacity-0.link-underline-opacity-75-hover.ms-1(
          href="mailto:support@2lanecoffee.vn"
        ) support@2lanecoffee.vn

    .text-end.text-md-end.text-center

      p.m-0
        iconify-icon(icon="mynaui:brand-github")
        span.ms-2 GitHub:
        a.link-underline.link-offset-3.link-underline-opacity-0.link-underline-opacity-75-hover.ms-1(
          href="https://github.com/ngphuctoan/softeng-finalterm-smartphone-garden"
          target="_blank"
        ) 2Lane Coffee Repository
